
.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #EEEEEE;
  color: #00ADB5; 
  font-family: 'Brush Script MT', serif;
  font-size: 80px;
  line-height: 50%;

}

.center{
  margin: auto;
  text-align: center;
}

.textTeal {
  color: #00ADB5;
  font-family: 'Courgette', cursive;
}

#accordCard {
  background-color:#EEEEEE;
  color:#393E46; 
  font-family: serif;
  border-color: #393E46;
  padding: 20px;
}

#heading {
  background-color: #00ADB5;
  font-family: 'Courgette', cursive;
}

#cardTitleQF {
  font-family: 'Courgette', cursive;
}

#cardQF {
  background-color: #EEEEEE;
  color: #393E46;
  font-family: serif;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#mainBG {
  background-color: #00ADB5;
}

.nav-pills .nav-link.active {
  background-color: #00ADB5!important;
}

.nav-pills .show>.nav-link {
  background-color: #00ADB5!important;
}

a.dropdown-item {
  background-color: transparent!important;
}

#form
{
  color: #393E46;
  font-family: serif;
  border: none;
  padding: 20px;
}

#customBtn {
  font-family: serif;
  color:  #EEEEEE;
  background-color: #393E46;
}


.site-footer {
  padding: 20px 0px;
  background-color: #EEEEEE;
  color: #00ADB5; 
  font-family: 'IM Fell DW Pica', serif;
  position: relative;
}

#ftContact {
  color:#222831;
  font-family: serif;
}
