/* used*/
.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #EEEEEE;
  color: #00ADB5; 
  font-family: 'Brush Script MT', serif;
  font-size: 50px;
}
/* used*/
.center{
  margin: auto;
  text-align: center;
}
/* used*/
.textTeal {
  color: #00ADB5;
  font-family: 'Courgette', cursive;
}
/*used*/
#accordCard {
  background-color:#EEEEEE;
  color:#393E46; 
  font-family: serif;
  border-color: #393E46;
  padding: 20px;
}
/*used*/
#heading {
  background-color: #00ADB5;
  font-family: 'Courgette', cursive;
}

/*used*/
#cardTitleQF {
  font-family: 'Courgette', cursive;
}
/*used*/
#cardQF {
  background-color: #EEEEEE;
  color: #393E46;
  font-family: serif;
  border: none;
  padding-top: 20px;
}
/*used*/
#mainBG {
  background-color: #00ADB5;
}
/*used*/
.nav-pills .nav-link.active {
  background-color: #00ADB5!important;
}
/*used*/
.nav-pills .show>.nav-link {
  background-color: #00ADB5!important;
}
/*used*/
a.dropdown-item {
  background-color: transparent!important;
}
/*used*/
#form
{
  color: #393E46;
  font-family: serif;
  border: none;
  padding: 20px;
}
/*used*/
#customBtn {
  font-family: serif;
  color:  #EEEEEE;
  background-color: #393E46;
}

/*used*/
.site-footer {
  padding: 20px 0px;
  background-color: #EEEEEE;
  color: #00ADB5; 
  font-family: 'IM Fell DW Pica', serif;
  position: relative;
}
/*used*/
#ftContact {
  color:#222831;
  font-family: serif;
}
